.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 130px;
  border-top: 2px solid rgba(255, 255, 255, 0.623);
}

.footer-title {
  font-size: 7px;
  color: black;
  text-decoration: none;
  transition: all 0.2s 0.2s;
  transform: scale(1.4, 1.4);
}

.img1 {
  width: 200px;
  border-radius: 20px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

.footer-sub {
  font-size: 7px;
  text-decoration: none;
  transition: all 0.2s 0.2s;
}

.footer-sub:hover {
  transform: scale(1.4, 1.4);
}

.footer-img1 {
  width: 60px;
  height: 15px;
  border-radius: 5px;
  /* text-decoration: none; */
  transition: all 0.2s 0.2s;
  /* transform: scale(1.4, 1.4); */
}

.footer-title-img {
  display: flex;
  align-items: center;
  padding: 7px 10px;
  background: white;
  border-radius: 7px;
  transition: all 0.2s 0.2s;
}
